################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/suite_credit_api.metadata.v9.bin
/.vs/ProjectEvaluation/suite_credit_api.projects.v9.bin
/.vs/ProjectEvaluation/suite_credit_api.strings.v9.bin
/.vs/SUITE_CREDIT_API/DesignTimeBuild/.dtbcache.v2
/.vs/SUITE_CREDIT_API/FileContentIndex/8d3994f2-7b32-4991-9e8e-8aa1c3581c4e.vsidx
/.vs/SUITE_CREDIT_API/v17/.futdcache.v2
/.vs/SUITE_CREDIT_API/v17/.suo
/.vs/SUITE_CREDIT_API/v17/.wsuo
/.vs/SUITE_CREDIT_API/v17/DocumentLayout.backup.json
/.vs/SUITE_CREDIT_API/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/CIC.Helper/obj/CIC.Helper.csproj.nuget.dgspec.json
/CIC.Helper/obj/CIC.Helper.csproj.nuget.g.props
/CIC.Helper/obj/Debug/net8.0/CIC.Helper.AssemblyInfo.cs
/CIC.Helper/obj/Debug/net8.0/CIC.Helper.AssemblyInfoInputs.cache
/CIC.Helper/obj/Debug/net8.0/CIC.Helper.assets.cache
/CIC.Helper/obj/Debug/net8.0/CIC.Helper.csproj.AssemblyReference.cache
/CIC.Helper/obj/Debug/net8.0/CIC.Helper.GeneratedMSBuildEditorConfig.editorconfig
/CIC.Helper/obj/project.assets.json
/CIC.Helper/obj/project.nuget.cache
/CIC.Model/obj/CIC.Model.csproj.nuget.dgspec.json
/CIC.Model/obj/CIC.Model.csproj.nuget.g.props
/CIC.Model/obj/Debug/net8.0/CIC.Model.AssemblyInfo.cs
/CIC.Model/obj/Debug/net8.0/CIC.Model.AssemblyInfoInputs.cache
/CIC.Model/obj/Debug/net8.0/CIC.Model.assets.cache
/CIC.Model/obj/Debug/net8.0/CIC.Model.csproj.AssemblyReference.cache
/CIC.Model/obj/Debug/net8.0/CIC.Model.GeneratedMSBuildEditorConfig.editorconfig
/CIC.Model/obj/project.assets.json
/CIC.Model/obj/project.nuget.cache
/CIC_Services/obj/Debug/net8.0/rpswa.dswa.cache.json
/CIC_Services/obj/Debug/net8.0/SUITE_CREDIT_API.AssemblyInfo.cs
/CIC_Services/obj/Debug/net8.0/SUITE_CREDIT_API.AssemblyInfoInputs.cache
/CIC_Services/obj/Debug/net8.0/SUITE_CREDIT_API.assets.cache
/CIC_Services/obj/Debug/net8.0/SUITE_CREDIT_API.csproj.AssemblyReference.cache
/CIC_Services/obj/Debug/net8.0/SUITE_CREDIT_API.GeneratedMSBuildEditorConfig.editorconfig
/CIC_Services/obj/project.assets.json
/CIC_Services/obj/project.nuget.cache
/CIC_Services/obj/SUITE_CREDIT_API.csproj.nuget.dgspec.json
/CIC_Services/obj/SUITE_CREDIT_API.csproj.nuget.g.props
/CIC_Services/obj/SUITE_CREDIT_API.csproj.nuget.g.targets
/JC.Criff.Highmark/obj/Debug/net8.0/JC.Criff.Highmark.AssemblyInfo.cs
/JC.Criff.Highmark/obj/Debug/net8.0/JC.Criff.Highmark.AssemblyInfoInputs.cache
/JC.Criff.Highmark/obj/Debug/net8.0/JC.Criff.Highmark.assets.cache
/JC.Criff.Highmark/obj/Debug/net8.0/JC.Criff.Highmark.csproj.AssemblyReference.cache
/JC.Criff.Highmark/obj/Debug/net8.0/JC.Criff.Highmark.GeneratedMSBuildEditorConfig.editorconfig
/JC.Criff.Highmark/obj/JC.Criff.Highmark.csproj.nuget.dgspec.json
/JC.Criff.Highmark/obj/JC.Criff.Highmark.csproj.nuget.g.props
/JC.Criff.Highmark/obj/project.assets.json
/JC.Criff.Highmark/obj/project.nuget.cache
/JC.DataUtility/obj/CIC.DataUtility.csproj.nuget.dgspec.json
/JC.DataUtility/obj/CIC.DataUtility.csproj.nuget.g.props
/JC.DataUtility/obj/Debug/net8.0/CIC.DataUtility.AssemblyInfo.cs
/JC.DataUtility/obj/Debug/net8.0/CIC.DataUtility.AssemblyInfoInputs.cache
/JC.DataUtility/obj/Debug/net8.0/CIC.DataUtility.assets.cache
/JC.DataUtility/obj/Debug/net8.0/CIC.DataUtility.csproj.AssemblyReference.cache
/JC.DataUtility/obj/Debug/net8.0/CIC.DataUtility.GeneratedMSBuildEditorConfig.editorconfig
/JC.DataUtility/obj/project.assets.json
/JC.DataUtility/obj/project.nuget.cache
/JC.Equifax/obj/Debug/net8.0/JC.Equifax.AssemblyInfo.cs
/JC.Equifax/obj/Debug/net8.0/JC.Equifax.AssemblyInfoInputs.cache
/JC.Equifax/obj/Debug/net8.0/JC.Equifax.assets.cache
/JC.Equifax/obj/Debug/net8.0/JC.Equifax.csproj.AssemblyReference.cache
/JC.Equifax/obj/Debug/net8.0/JC.Equifax.GeneratedMSBuildEditorConfig.editorconfig
/JC.Equifax/obj/JC.Equifax.csproj.nuget.dgspec.json
/JC.Equifax/obj/JC.Equifax.csproj.nuget.g.props
/JC.Equifax/obj/project.assets.json
/JC.Equifax/obj/project.nuget.cache
/JC.Experian/obj/Debug/net8.0/JC.Experian.AssemblyInfo.cs
/JC.Experian/obj/Debug/net8.0/JC.Experian.AssemblyInfoInputs.cache
/JC.Experian/obj/Debug/net8.0/JC.Experian.assets.cache
/JC.Experian/obj/Debug/net8.0/JC.Experian.csproj.AssemblyReference.cache
/JC.Experian/obj/Debug/net8.0/JC.Experian.GeneratedMSBuildEditorConfig.editorconfig
/JC.Experian/obj/JC.Experian.csproj.nuget.dgspec.json
/JC.Experian/obj/JC.Experian.csproj.nuget.g.props
/JC.Experian/obj/project.assets.json
/JC.Experian/obj/project.nuget.cache
/JC.TransUnion.Cibil/obj/Debug/net8.0/JC.TransUnion.Cibil.AssemblyInfo.cs
/JC.TransUnion.Cibil/obj/Debug/net8.0/JC.TransUnion.Cibil.AssemblyInfoInputs.cache
/JC.TransUnion.Cibil/obj/Debug/net8.0/JC.TransUnion.Cibil.assets.cache
/JC.TransUnion.Cibil/obj/Debug/net8.0/JC.TransUnion.Cibil.csproj.AssemblyReference.cache
/JC.TransUnion.Cibil/obj/Debug/net8.0/JC.TransUnion.Cibil.GeneratedMSBuildEditorConfig.editorconfig
/JC.TransUnion.Cibil/obj/JC.TransUnion.Cibil.csproj.nuget.dgspec.json
/JC.TransUnion.Cibil/obj/JC.TransUnion.Cibil.csproj.nuget.g.props
/JC.TransUnion.Cibil/obj/JC.TransUnion.Cibil.csproj.nuget.g.targets
/JC.TransUnion.Cibil/obj/project.assets.json
/JC.TransUnion.Cibil/obj/project.nuget.cache
/LoggerLibrary/obj/Debug/net8.0/LoggerLibrary.AssemblyInfo.cs
/LoggerLibrary/obj/Debug/net8.0/LoggerLibrary.AssemblyInfoInputs.cache
/LoggerLibrary/obj/Debug/net8.0/LoggerLibrary.assets.cache
/LoggerLibrary/obj/Debug/net8.0/LoggerLibrary.csproj.AssemblyReference.cache
/LoggerLibrary/obj/Debug/net8.0/LoggerLibrary.GeneratedMSBuildEditorConfig.editorconfig
/LoggerLibrary/obj/LoggerLibrary.csproj.nuget.dgspec.json
/LoggerLibrary/obj/LoggerLibrary.csproj.nuget.g.props
/LoggerLibrary/obj/project.assets.json
/LoggerLibrary/obj/project.nuget.cache
