<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\Junoon Capital\ashish-junoon\SUITE_APPLICATION\SUITE_CREDIT_API\CIC_Services\Logs\internallog.txt">>

  <targets>
    <target name="file" xsi:type="File" fileName="D:/Junoon Capital/ashish-junoon/SUITE_APPLICATION/SUITE_CREDIT_API/CIC_Services/Logs/${shortdate}_logfile.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>

</nlog>

